In [88]:
#1. Import thne NUMPY package under the name np.
import numpy as np

In [89]:
#2. Print the NUMPY version and the configuration.
print(np.__version__)
print(np.show_config())

1.20.3
blas_mkl_info:
    libraries = ['mkl_rt']
    library_dirs = ['C:/Users/Jarvis/anaconda3\\Library\\lib']
    define_macros = [('SCIPY_MKL_H', None), ('HAVE_CBLAS', None)]
    include_dirs = ['C:/Users/Jarvis/anaconda3\\Library\\include']
blas_opt_info:
    libraries = ['mkl_rt']
    library_dirs = ['C:/Users/Jarvis/anaconda3\\Library\\lib']
    define_macros = [('SCIPY_MKL_H', None), ('HAVE_CBLAS', None)]
    include_dirs = ['C:/Users/Jarvis/anaconda3\\Library\\include']
lapack_mkl_info:
    libraries = ['mkl_rt']
    library_dirs = ['C:/Users/Jarvis/anaconda3\\Library\\lib']
    define_macros = [('SCIPY_MKL_H', None), ('HAVE_CBLAS', None)]
    include_dirs = ['C:/Users/Jarvis/anaconda3\\Library\\include']
lapack_opt_info:
    libraries = ['mkl_rt']
    library_dirs = ['C:/Users/Jarvis/anaconda3\\Library\\lib']
    define_macros = [('SCIPY_MKL_H', None), ('HAVE_CBLAS', None)]
    include_dirs = ['C:/Users/Jarvis/anaconda3\\Library\\include']
None

In [90]:
#3. Generate a 2x3x5 3-dimensional array with random values. Assign the array to variable "a"
# Challenge: there are at least three easy ways that use numpy to generate random arrays. How many ways can you find?
#4. Print a.
a = np.random.rand(2,3,5)
print(a)

[[[0.5815257  0.71025028 0.90575632 0.30407564 0.0814043 ]
  [0.40137234 0.76248579 0.62614459 0.83419673 0.53427675]
  [0.11917264 0.4258502  0.61953145 0.22392862 0.53727724]]

 [[0.26903105 0.53343982 0.04470016 0.39098179 0.73040081]
  [0.49722054 0.99400287 0.05501631 0.8108508  0.18191622]
  [0.873711   0.70290491 0.35948968 0.64765519 0.09465523]]]

In [91]:
#5. Create a 5x3x2 3-dimensional array with all values equaling 1.
#Assign the array to variable "b"
#6. Print b.

b = np.ones((5,3,2))
print(b)

[[[1. 1.]
  [1. 1.]
  [1. 1.]]

 [[1. 1.]
  [1. 1.]
  [1. 1.]]

 [[1. 1.]
  [1. 1.]
  [1. 1.]]

 [[1. 1.]
  [1. 1.]
  [1. 1.]]

 [[1. 1.]
  [1. 1.]
  [1. 1.]]]

In [92]:
#7. Do a and b have the same size? How do you prove that in Python code?
print(a.size)
print(b.size)

30
30

In [93]:
#8. Are you able to add a and b? Why or why not?
# No because they don't have the same shape
np.add(a,b)

ValueError: operands could not be broadcast together with shapes (2,3,5) (5,3,2)

In [94]:
#9. Transpose b so that it has the same structure of a (i.e. become a 2x3x5 array). Assign the transposed array to varialbe "c".
c = np.transpose(b, (2,1,0))
c.shape

(2, 3, 5)

In [95]:
#10. Try to add a and c. Now it should work. Assign the sum to varialbe "d". But why does it work now?
#Because they both have the same shape.
d = np.add(a,c)
print(d)

[[[1.5815257  1.71025028 1.90575632 1.30407564 1.0814043 ]
  [1.40137234 1.76248579 1.62614459 1.83419673 1.53427675]
  [1.11917264 1.4258502  1.61953145 1.22392862 1.53727724]]

 [[1.26903105 1.53343982 1.04470016 1.39098179 1.73040081]
  [1.49722054 1.99400287 1.05501631 1.8108508  1.18191622]
  [1.873711   1.70290491 1.35948968 1.64765519 1.09465523]]]

In [364]:
#11. Print a and d. Notice the difference and relation of the two array in terms of the values? Explain.
#The difference between all the values of a and is 1, because the c array had only values of 1, and we added it to d.
print(a)
print(d)

[[[0.5815257  0.71025028 0.90575632 0.30407564 0.0814043 ]
  [0.40137234 0.76248579 0.62614459 0.83419673 0.53427675]
  [0.11917264 0.4258502  0.61953145 0.22392862 0.53727724]]

 [[0.26903105 0.53343982 0.04470016 0.39098179 0.73040081]
  [0.49722054 0.99400287 0.05501631 0.8108508  0.18191622]
  [0.873711   0.70290491 0.35948968 0.64765519 0.09465523]]]
[[[1.5815257  1.71025028 1.90575632 1.30407564 1.0814043 ]
  [1.40137234 1.76248579 1.62614459 1.83419673 1.53427675]
  [1.11917264 1.4258502  1.61953145 1.22392862 1.53727724]]

 [[1.26903105 1.53343982 1.04470016 1.39098179 1.73040081]
  [1.49722054 1.99400287 1.05501631 1.8108508  1.18191622]
  [1.873711   1.70290491 1.35948968 1.64765519 1.09465523]]]

In [365]:
#12. Multiply a and c. Assign the result to e.
e = np.multiply(a,c)
print(e)

[[[0.5815257  0.71025028 0.90575632 0.30407564 0.0814043 ]
  [0.40137234 0.76248579 0.62614459 0.83419673 0.53427675]
  [0.11917264 0.4258502  0.61953145 0.22392862 0.53727724]]

 [[0.26903105 0.53343982 0.04470016 0.39098179 0.73040081]
  [0.49722054 0.99400287 0.05501631 0.8108508  0.18191622]
  [0.873711   0.70290491 0.35948968 0.64765519 0.09465523]]]

In [98]:
#13. Does e equal to a? Why or why not?
# Yes because we multiplied all to values by one

In [144]:
#14. Identify the max, min, and mean values in d. Assign those values to variables "d_max", "d_min", and "d_mean"
d_max = np.max(d)
d_min =np.min(d)
d_mean = np.mean(d)
print(d_max)
print(d_min)
print(d_mean)

1.9940028664231297
1.04470015516224
1.495107498560474

In [366]:
#15. Now we want to label the values in d. First create an empty array "f" with the same shape (i.e. 2x3x5) as d using `np.empty`.
f = np.empty_like(d)
f.shape
f

array([[[0.5815257 , 0.71025028, 0.90575632, 0.30407564, 0.0814043 ],
        [0.40137234, 0.76248579, 0.62614459, 0.83419673, 0.53427675],
        [0.11917264, 0.4258502 , 0.61953145, 0.22392862, 0.53727724]],

       [[0.26903105, 0.53343982, 0.04470016, 0.39098179, 0.73040081],
        [0.49722054, 0.99400287, 0.05501631, 0.8108508 , 0.18191622],
        [0.873711  , 0.70290491, 0.35948968, 0.64765519, 0.09465523]]])

In [367]:
#16. Populate the values in f. For each value in d, if it's larger than d_min but smaller than d_mean,
#assign 25 to the corresponding value in f.
#If a value in d is larger than d_mean but smaller than d_max, assign 75 to the corresponding value in f.
#If a value equals to d_mean, assign 50 to the corresponding value in f.
#Assign 0 to the corresponding value(s) in f for d_min in d.
#Assign 100 to the corresponding value(s) in f for d_max in d.
#In the end, f should have only the following values: 0, 25, 50, 75, and 100.
#Note: you don't have to use Numpy in this question.
f1 = np.where(((d>d_min)&(d<d_mean)),25,d)
f2 = np.where(((f1>d_mean)&(f1<d_max)),75,f1)
f3 = np.where(f2==d_mean,50,f2)
f4 = np.where(f3==d_max,100,f3)
f = np.where(f4==d_min,0,f4)
f

array([[[ 75.,  75.,  75.,  25.,  25.],
        [ 25.,  75.,  75.,  75.,  75.],
        [ 25.,  25.,  75.,  25.,  75.]],

       [[ 25.,  75.,   0.,  25.,  75.],
        [ 75., 100.,  25.,  75.,  25.],
        [ 75.,  75.,  25.,  75.,  25.]]])

In [368]:
#17. Print d and f. Do you have your expected f?
f
#Yes

array([[[ 75.,  75.,  75.,  25.,  25.],
        [ 25.,  75.,  75.,  75.,  75.],
        [ 25.,  25.,  75.,  25.,  75.]],

       [[ 25.,  75.,   0.,  25.,  75.],
        [ 75., 100.,  25.,  75.,  25.],
        [ 75.,  75.,  25.,  75.,  25.]]])

In [383]:
#18. Bonus question: instead of using numbers (i.e. 0, 25, 50, 75, and 100), how to use string values 
#("A", "B", "C", "D", and "E") to label the array elements? You are expecting the result to be:
#array([[[ 'D',  'D',  'D',  'B',  'D'],
#        [ 'D',  'D',  'B',  'B',  'B'],
#       [ 'D',  'B',  'D',  'D',  'D']],
#
#      [[ 'B',  'B',  'B',  'B',  'E'],
#        [ 'D',  'D',  'D',  'D',  'D'],
#        [ 'B',  'D',   'A',  'D', 'D']]])
#Again, you don't need Numpy in this question.
k = np.empty_like(d)
k

array([[[ 75.,  75.,  75.,  25.,  25.],
        [ 25.,  75.,  75.,  75.,  75.],
        [ 25.,  25.,  75.,  25.,  75.]],

       [[ 25.,  75.,   0.,  25.,  75.],
        [ 75., 100.,  25.,  75.,  25.],
        [ 75.,  75.,  25.,  75.,  25.]]])

In [396]:
k1 = np.where(k=='25','B',k)
k2 = np.where(k1=='75','D',k1)
k3 = np.where(k2=='50','C',k2)
k4 = np.where(k3=='100','E',k3)
k = np.where(k4=='0','A',k4)
k

array([[['D', 'D', 'D', 'B', 'B'],
        ['B', 'D', 'D', 'D', 'D'],
        ['B', 'B', 'D', 'B', 'D']],

       [['B', 'D', 'A', 'B', 'D'],
        ['D', 'E', 'B', 'D', 'B'],
        ['D', 'D', 'B', 'D', 'B']]], dtype='<U32')