# Before your start:
- Read the README.md file
- Comment as much as you can and use the resources in the README.md file
- Happy learning!

In [1]:
import numpy as np
import pandas as pd

# Challenge 1 - Iterators, Generators and `yield`. 

In iterator in Python is an object that represents a stream of data. However, iterators contain a countable number of values. We traverse through the iterator and return one value at a time. All iterators support a `next` function that allows us to traverse through the iterator. We can create an iterator using the `iter` function that comes with the base package of Python. Below is an example of an iterator.

In [2]:
# We first define our iterator:

iterator = iter([1,2,3])

# We can now iterate through the object using the next function

print(next(iterator))

1

In [3]:
# We continue to iterate through the iterator.

print(next(iterator))

2

In [4]:
print(next(iterator))

3

In [5]:
# After we have iterated through all elements, we will get a StopIteration Error

print(next(iterator))

StopIteration:

In [6]:
# We can also iterate through an iterator using a for loop like this:
# Note: we cannot go back directly in an iterator once we have traversed through the elements. 
# This is why we are redefining the iterator below

iterator = iter([1,2,3])

for i in iterator:
    print(i)

1
2
3

In the cell below, write a function that takes an iterator and returns the first element in the iterator and returns the first element in the iterator that is divisible by 2. Assume that all iterators contain only numeric data. If we have not found a single element that is divisible by 2, return zero.

In [7]:
def divisible2(iterator):
    # This function takes an iterable and returns the first element that is divisible by 2 and zero otherwise
    # Input: Iterable
    # Output: Integer
    
    # Sample Input: iter([1,2,3])
    # Sample Output: 2
    
    # Your code here:
    b= iter([iterator])
    for i in b:
        if i%2==0:
            return i
        else:
            return 'zero'
    return b

In [8]:
divisible2(1)

'zero'

### Generators

It is quite difficult to create your own iterator since you would have to implement a `next` function. Generators are functions that enable us to create iterators. The difference between a function and a generator is that instead of using `return`, we use `yield`. For example, below we have a function that returns an iterator containing the numbers 0 through n:

In [9]:
def firstn(n):
     number = 0
     while number < n:
         yield number
         number = number + 1

In [10]:
firstn(10)

If we pass 5 to the function, we will see that we have a iterator containing the numbers 0 through 4.

In [11]:
iterator = firstn(5)
for i in iterator:
    print(i)

0
1
2
3
4

In the cell below, create a generator that takes a number and returns an iterator containing all even numbers between 0 and the number you passed to the generator.

In [12]:
def even_iterator(n):
    # This function produces an iterator containing all even numbers between 0 and n
    # Input: integer
    # Output: iterator

    # Sample Input: 5
    # Sample Output: iter([0, 2, 4])
    
    # Your code here:
    iterator = iter(range(n))
    for i in iterator:
        if i%2==0:
            yield i

In [13]:
iterator =even_iterator(10)
for i in iterator:
    print(i)

0
2
4
6
8

# Challenge 2 - Applying Functions to DataFrames

In this challenge, we will look at how to transform cells or entire columns at once.

First, let's load a dataset. We will download the famous Iris classification dataset in the cell below.

In [15]:
import pandas as pd
columns = ['sepal_length', 'sepal_width', 'petal_length','petal_width','iris_type']
iris = pd.read_csv("https://archive.ics.uci.edu/ml/machine-learning-databases/iris/iris.data", names=columns)

Let's look at the dataset using the `head` function.

In [16]:
# Your code here:
iris.head()

   sepal_length  sepal_width  petal_length  petal_width    iris_type
0           5.1          3.5           1.4          0.2  Iris-setosa
1           4.9          3.0           1.4          0.2  Iris-setosa
2           4.7          3.2           1.3          0.2  Iris-setosa
3           4.6          3.1           1.5          0.2  Iris-setosa
4           5.0          3.6           1.4          0.2  Iris-setosa

Let's start off by using built-in functions. Try to apply the numpy mean function and describe what happens in the comments of the code.

In [17]:
# Your code here:
import numpy as np

np.mean(iris)
# It outputs the mean of all columns

C:\Users\Jarvis\anaconda3\lib\site-packages\numpy\core\fromnumeric.py:3417: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  return mean(axis=axis, dtype=dtype, out=out, **kwargs)

sepal_length    5.843333
sepal_width     3.054000
petal_length    3.758667
petal_width     1.198667
dtype: float64

Next, we'll apply the standard deviation function in numpy (`np.std`). Describe what happened in the comments.

In [18]:
# Your code here:
np.std(iris)
# It outputs the standard deviation of all columns

C:\Users\Jarvis\anaconda3\lib\site-packages\numpy\core\fromnumeric.py:3558: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  return std(axis=axis, dtype=dtype, out=out, ddof=ddof, **kwargs)

sepal_length    0.825301
sepal_width     0.432147
petal_length    1.758529
petal_width     0.760613
dtype: float64

The measurements are in centimeters. Let's convert them all to inches. First, we will create a dataframe that contains only the numeric columns. Assign this new dataframe to `iris_numeric`.

In [19]:
# Your code here:
iris_numeric = iris.filter(items= ['sepal_length', 'sepal_width', 'petal_length','petal_width'])
for i in iris_numeric.values:
    for x in i:
        iris_numeric = iris_numeric.replace(to_replace= x , value= (x*0.39370))
print(iris_numeric)

     sepal_length  sepal_width  petal_length  petal_width
0         2.00787      1.37795       0.55118      0.07874
1         1.92913      1.18110       0.55118      0.07874
2         1.85039      1.25984       0.51181      0.07874
3         1.81102      1.22047       0.59055      0.07874
4         1.96850      1.41732       0.55118      0.07874
..            ...          ...           ...          ...
145       2.63779      1.18110       2.04724      0.90551
146       2.48031      0.98425       1.96850      0.74803
147       2.55905      1.18110       2.04724      0.78740
148       2.44094      1.33858       2.12598      0.90551
149       2.32283      1.18110       2.00787      0.70866

[150 rows x 4 columns]

Next, we will write a function that converts centimeters to inches in the cell below. Recall that 1cm = 0.393701in.

In [20]:
def cm_to_in(x):
    # This function takes in a numeric value in centimeters and converts it to inches
    # Input: numeric value
    # Output: float
    
    # Sample Input: 1.0
    # Sample Output: 0.393701
    
    # Your code here:
    y = x*0.39370
    return y
cm_to_in(15)

5.9055

Now convert all columns in `iris_numeric` to inches in the cell below. We like to think of functional transformations as immutable. Therefore, save the transformed data in a dataframe called `iris_inch`.

In [21]:
# Your code here:
iris_inch = iris_numeric
print(iris_inch)

     sepal_length  sepal_width  petal_length  petal_width
0         2.00787      1.37795       0.55118      0.07874
1         1.92913      1.18110       0.55118      0.07874
2         1.85039      1.25984       0.51181      0.07874
3         1.81102      1.22047       0.59055      0.07874
4         1.96850      1.41732       0.55118      0.07874
..            ...          ...           ...          ...
145       2.63779      1.18110       2.04724      0.90551
146       2.48031      0.98425       1.96850      0.74803
147       2.55905      1.18110       2.04724      0.78740
148       2.44094      1.33858       2.12598      0.90551
149       2.32283      1.18110       2.00787      0.70866

[150 rows x 4 columns]

We have just found that the original measurements were off by a constant. Define the global constant `error` and set it to 2. Write a function that uses the global constant and adds it to each cell in the dataframe. Apply this function to `iris_numeric` and save the result in `iris_constant`.

In [22]:
# Define constant below:
error  = 2
def add_constant(x):
    # This function adds a global constant to our input.
    # Input: numeric value
    # Output: numeric value
    # Your code here:
    for i in iris_numeric.values:
        for x in i:
            iris_constant = iris_numeric.add(error)
    return iris_constant
add_constant(5)

     sepal_length  sepal_width  petal_length  petal_width
0         4.00787      3.37795       2.55118      2.07874
1         3.92913      3.18110       2.55118      2.07874
2         3.85039      3.25984       2.51181      2.07874
3         3.81102      3.22047       2.59055      2.07874
4         3.96850      3.41732       2.55118      2.07874
..            ...          ...           ...          ...
145       4.63779      3.18110       4.04724      2.90551
146       4.48031      2.98425       3.96850      2.74803
147       4.55905      3.18110       4.04724      2.78740
148       4.44094      3.33858       4.12598      2.90551
149       4.32283      3.18110       4.00787      2.70866

[150 rows x 4 columns]

# Bonus Challenge - Applying Functions to Columns

Read more about applying functions to either rows or columns [here](https://pandas.pydata.org/pandas-docs/stable/generated/pandas.DataFrame.apply.html) and write a function that computes the maximum value for each row of `iris_numeric`

In [23]:
# Your code here:
import numpy as np
def max_value(x):
    for i in iris_numeric.values:
        iris_max = iris_numeric.apply(np.amax,axis = 1)
    return iris_max
max_value(5)

0      2.00787
1      1.92913
2      1.85039
3      1.81102
4      1.96850
        ...
145    2.63779
146    2.48031
147    2.55905
148    2.44094
149    2.32283
Length: 150, dtype: float64

Compute the combined lengths for each row and the combined widths for each row using a function. Assign these values to new columns `total_length` and `total_width`.

In [24]:
# Your code here:
def mean_len_width(x):
    total_length = iris_numeric['sepal_length'] + iris_numeric['petal_length']
    total_width = iris_numeric['sepal_width'] + iris_numeric['petal_width']
    iris_numeric['total_length'] =  total_length
    iris_numeric['total_width'] =  total_width
    return iris_numeric
mean_len_width(9)

,sepal_length,sepal_width,petal_length,petal_width,total_length,total_width
0,2.00787,1.37795,0.55118,0.07874,2.55905,1.45669
1,1.92913,1.18110,0.55118,0.07874,2.48031,1.25984
2,1.85039,1.25984,0.51181,0.07874,2.36220,1.33858
3,1.81102,1.22047,0.59055,0.07874,2.40157,1.29921
4,1.96850,1.41732,0.55118,0.07874,2.51968,1.49606
...,...,...,...,...,...,...
145,2.63779,1.18110,2.04724,0.90551,4.68503,2.08661
146,2.48031,0.98425,1.96850,0.74803,4.44881,1.73228
147,2.55905,1.18110,2.04724,0.78740,4.60629,1.96850
148,2.44094,1.33858,2.12598,0.90551,4.56692,2.24409
149,2.32283,1.18110,2.00787,0.70866,4.33070,1.88976