## Challenge 2: Sets

There are a lot to learn about Python Sets and the information presented in the lesson is limited due to its length. To learn Python Sets in depth you are strongly encouraged to review the W3Schools tutorial on [Python Sets Examples and Methods](https://www.w3schools.com/python/python_sets.asp) before you work on this lab. Some difficult questions in this lab have their solutions in the W3Schools tutorial.

#### First, import the Python `random` libary

In [1]:
import random

#### In the cell below, create a list named `sample_list_1` with 80 random values. 

Requirements:

* Each value is an integer falling between 0 and 100.
* Each value in the list is unique.

Print `sample_list_1` to review its values

*Hint: use `random.sample` ([reference](https://docs.python.org/3/library/random.html#random.sample)).*

In [123]:
sample_list_1 = random.sample(range(100),k=80,counts = None)
print(sample_list_1)

[33, 68, 84, 41, 34, 60, 40, 12, 82, 16, 4, 88, 70, 32, 19, 56, 87, 5, 54, 79, 92, 31, 67, 22, 89, 7, 6, 51, 76, 21, 83, 77, 55, 1, 91, 58, 35, 72, 95, 46, 48, 50, 28, 43, 29, 26, 0, 52, 27, 23, 90, 65, 30, 59, 66, 69, 44, 62, 45, 20, 47, 81, 64, 78, 53, 61, 73, 96, 8, 36, 24, 38, 97, 98, 37, 3, 10, 25, 13, 11]

#### Convert `sample_list_1` to a set called `set1`. Print the length of the set. Is its length still 80?

In [124]:
set1 = set(sample_list_1)
len(set1)

80

#### Create another list named `sample_list_2` with 80 random values.

Requirements:

* Each value is an integer falling between 0 and 100.
* The values in the list don't have to be unique.

*Hint: Use a FOR loop.*

In [125]:
sample_list_2 = random.sample(range(100),k=80)
print(sample_list_2)

[59, 89, 13, 19, 21, 7, 55, 67, 17, 91, 60, 78, 16, 71, 8, 97, 98, 6, 86, 48, 49, 32, 96, 72, 50, 94, 61, 15, 95, 3, 5, 80, 36, 10, 82, 25, 99, 45, 46, 92, 68, 0, 56, 28, 30, 29, 37, 9, 43, 44, 12, 85, 23, 83, 93, 76, 90, 18, 84, 39, 73, 35, 52, 63, 33, 2, 81, 34, 4, 51, 53, 22, 65, 70, 75, 64, 24, 79, 14, 77]

#### Convert `sample_list_2` to a set called `set2`. Print the length of the set. Is its length still 80?

In [126]:
set2 = set(sample_list_2)
len(sample_list_2)

80

#### Identify the elements present in `set1` but not in `set2`. Assign the elements to a new set named `set3`.

In [127]:
sample_list_3= []
for i in set1:
    if (i in set1) and (i not in set2):
        sample_list_3.append(i)
set3= set(sample_list_3)
print(set3)

{1, 66, 58, 69, 38, 40, 41, 11, 47, 20, 54, 87, 88, 26, 27, 62, 31}

#### Identify the elements present in `set2` but not in `set1`. Assign the elements to a new set named `set4`.

In [128]:
sample_list_4 = []
for i in set2:
    if (i in set2) and (i not in set1):
        sample_list_4.append(i)
set4 = set(sample_list_4)
print(set4)

{2, 99, 39, 71, 9, 75, 14, 15, 80, 17, 18, 49, 85, 86, 93, 94, 63}

#### Now Identify the elements shared between `set1` and `set2`. Assign the elements to a new set named `set5`.

In [129]:
sample_list_5 = []
for i in set1:
    if (i in set1) and (i in set2):
        sample_list_5.append(i)
set5 = set(sample_list_5)
print(set5)

{0, 3, 4, 5, 6, 7, 8, 10, 12, 13, 16, 19, 21, 22, 23, 24, 25, 28, 29, 30, 32, 33, 34, 35, 36, 37, 43, 44, 45, 46, 48, 50, 51, 52, 53, 55, 56, 59, 60, 61, 64, 65, 67, 68, 70, 72, 73, 76, 77, 78, 79, 81, 82, 83, 84, 89, 90, 91, 92, 95, 96, 97, 98}

#### What is the relationship among the following values:

* len(set1)
* len(set2)
* len(set3)
* len(set4)
* len(set5)

Use a math formular to represent that relationship. Test your formular with Python code.

In [130]:
print(len(set1))
print(len(set2))
print(len(set3))
print(len(set4))
print(len(set5))

# Set 1 and set 2 have the same lenght.
# Set 3 and set 4 have the same lenght.
# Set 1 and Set 2 have 62 equal numbers.

80
80
17
17
63

#### Create an empty set called `set6`.

In [131]:
set6 = set()

#### Add `set3` and `set5` to `set6` using the Python Set `update` method.

In [132]:
set6.update(set3 and set5)
print(set6)

{0, 3, 4, 5, 6, 7, 8, 10, 12, 13, 16, 19, 21, 22, 23, 24, 25, 28, 29, 30, 32, 33, 34, 35, 36, 37, 43, 44, 45, 46, 48, 50, 51, 52, 53, 55, 56, 59, 60, 61, 64, 65, 67, 68, 70, 72, 73, 76, 77, 78, 79, 81, 82, 83, 84, 89, 90, 91, 92, 95, 96, 97, 98}

#### Check if `set1` and `set6` are equal.

In [133]:
if set1 == set6:
    print('Set1 and set6 are equal')
else:
    print('Set1 and set6 are not equal')

Set1 and set6 are not equal

#### Check if `set1` contains `set2` using the Python Set `issubset` method. Then check if `set1` contains `set3`.*

In [134]:
x = set1.issubset(set2)
y = set1.issubset(set3)
print(x)
print(y)

False
False

#### Using the Python Set `union` method, aggregate `set3`, `set4`, and `set5`. Then aggregate `set1` and `set2`. 

#### Check if the aggregated values are equal.

In [135]:
# Your code here
a = set3.union(set4 and set5)
print(a)
b = a.union(set1 and set2)
print(b)
if a==b:
    print('The values are equal')
else:
    print('The values are not equal')

{0, 1, 3, 4, 5, 6, 7, 8, 10, 11, 12, 13, 16, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 40, 41, 43, 44, 45, 46, 47, 48, 50, 51, 52, 53, 54, 55, 56, 58, 59, 60, 61, 62, 64, 65, 66, 67, 68, 69, 70, 72, 73, 76, 77, 78, 79, 81, 82, 83, 84, 87, 88, 89, 90, 91, 92, 95, 96, 97, 98}
{0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99}
The values are not equal

#### Using the `pop` method, remove the first element from `set1`.

In [136]:
set1 = list(set1)
rm = set1.pop(0)
set1 = set(set1)
len(set1)

79

#### Remove every element in the following list from `set1` if they are present in the set. Print the remaining elements.

```
list_to_remove = [1, 9, 11, 19, 21, 29, 31, 39, 41, 49, 51, 59, 61, 69, 71, 79, 81, 89, 91, 99]
```

In [144]:
list_to_remove = [1, 9, 11, 19, 21, 29, 31, 39, 41, 49, 51, 59, 61, 69, 71, 79, 81, 89, 91, 99]
set1 = list(set1)
for i in list_to_remove:
    if i in set1:
        set1.remove(i)
        set1 = set(set1)
print(set1)

[3, 4, 5, 6, 7, 8, 10, 12, 13, 16, 20, 22, 23, 24, 25, 26, 27, 28, 30, 32, 33, 34, 35, 36, 37, 38, 40, 43, 44, 45, 46, 47, 48, 50, 52, 53, 54, 55, 56, 58, 60, 62, 64, 65, 66, 67, 68, 70, 72, 73, 76, 77, 78, 82, 83, 84, 87, 88, 90, 92, 95, 96, 97, 98]