In [4]:
import pymongo
from pymongo import MongoClient

In [6]:
client = pymongo.MongoClient("mongodb+srv://Dtavo:314159265141074.mongos@cluster0.uhlrc.mongodb.net/myFirstDatabase?retryWrites=true&w=majority")
db = client.test

In [8]:
client.list_database_names()

['sample_airbnb',
 'sample_analytics',
 'sample_geospatial',
 'sample_guides',
 'sample_mflix',
 'sample_restaurants',
 'sample_supplies',
 'sample_training',
 'sample_weatherdata',
 'admin',
 'local']

In [11]:
sakila = client['sakila']
sakila

Database(MongoClient(host=['cluster0-shard-00-00.uhlrc.mongodb.net:27017', 'cluster0-shard-00-02.uhlrc.mongodb.net:27017', 'cluster0-shard-00-01.uhlrc.mongodb.net:27017'], document_class=dict, tz_aware=False, connect=True, retrywrites=True, w='majority', authsource='admin', replicaset='atlas-12gjui-shard-0', tls=True), 'sakila')

In [14]:
actors = sakila['actors']
actors

Collection(Database(MongoClient(host=['cluster0-shard-00-00.uhlrc.mongodb.net:27017', 'cluster0-shard-00-02.uhlrc.mongodb.net:27017', 'cluster0-shard-00-01.uhlrc.mongodb.net:27017'], document_class=dict, tz_aware=False, connect=True, retrywrites=True, w='majority', authsource='admin', replicaset='atlas-12gjui-shard-0', tls=True), 'sakila'), 'actors')

In [26]:
import pymysql
from sqlalchemy import create_engine,text
import pandas as pd

In [31]:
path_sakila = 'mysql+pymysql://root:314159265141074.mysql@localhost:3306/sakila'

In [32]:
engine = create_engine(path_sakila)

In [ ]:
df_sakila = pd.read_sql_query('SELECT * FROM actor',engine)

In [38]:
info_actors = df_sakila.to_dict('records')
info_actors

[{'actor_id': 1,
  'first_name': 'PENELOPE',
  'last_name': 'GUINESS',
  'last_update': Timestamp('2006-02-15 04:34:33')},
 {'actor_id': 2,
  'first_name': 'NICK',
  'last_name': 'WAHLBERG',
  'last_update': Timestamp('2006-02-15 04:34:33')},
 {'actor_id': 3,
  'first_name': 'ED',
  'last_name': 'CHASE',
  'last_update': Timestamp('2006-02-15 04:34:33')},
 {'actor_id': 4,
  'first_name': 'JENNIFER',
  'last_name': 'DAVIS',
  'last_update': Timestamp('2006-02-15 04:34:33')},
 {'actor_id': 5,
  'first_name': 'JOHNNY',
  'last_name': 'LOLLOBRIGIDA',
  'last_update': Timestamp('2006-02-15 04:34:33')},
 {'actor_id': 6,
  'first_name': 'BETTE',
  'last_name': 'NICHOLSON',
  'last_update': Timestamp('2006-02-15 04:34:33')},
 {'actor_id': 7,
  'first_name': 'GRACE',
  'last_name': 'MOSTEL',
  'last_update': Timestamp('2006-02-15 04:34:33')},
 {'actor_id': 8,
  'first_name': 'MATTHEW',
  'last_name': 'JOHANSSON',
  'last_update': Timestamp('2006-02-15 04:34:33')},
 {'actor_id': 9,
  'first_name': 'JOE',
  'last_name': 'SWANK',
  'last_update': Timestamp('2006-02-15 04:34:33')},
 {'actor_id': 10,
  'first_name': 'CHRISTIAN',
  'last_name': 'GABLE',
  'last_update': Timestamp('2006-02-15 04:34:33')},
 {'actor_id': 11,
  'first_name': 'ZERO',
  'last_name': 'CAGE',
  'last_update': Timestamp('2006-02-15 04:34:33')},
 {'actor_id': 12,
  'first_name': 'KARL',
  'last_name': 'BERRY',
  'last_update': Timestamp('2006-02-15 04:34:33')},
 {'actor_id': 13,
  'first_name': 'UMA',
  'last_name': 'WOOD',
  'last_update': Timestamp('2006-02-15 04:34:33')},
 {'actor_id': 14,
  'first_name': 'VIVIEN',
  'last_name': 'BERGEN',
  'last_update': Timestamp('2006-02-15 04:34:33')},
 {'actor_id': 15,
  'first_name': 'CUBA',
  'last_name': 'OLIVIER',
  'last_update': Timestamp('2006-02-15 04:34:33')},
 {'actor_id': 16,
  'first_name': 'FRED',
  'last_name': 'COSTNER',
  'last_update': Timestamp('2006-02-15 04:34:33')},
 {'actor_id': 17,
  'first_name': 'HELEN',
  'last_name': 'VOIGHT',
  'last_update': Timestamp('2006-02-15 04:34:33')},
 {'actor_id': 18,
  'first_name': 'DAN',
  'last_name': 'TORN',
  'last_update': Timestamp('2006-02-15 04:34:33')},
 {'actor_id': 19,
  'first_name': 'BOB',
  'last_name': 'FAWCETT',
  'last_update': Timestamp('2006-02-15 04:34:33')},
 {'actor_id': 20,
  'first_name': 'LUCILLE',
  'last_name': 'TRACY',
  'last_update': Timestamp('2006-02-15 04:34:33')},
 {'actor_id': 21,
  'first_name': 'KIRSTEN',
  'last_name': 'PALTROW',
  'last_update': Timestamp('2006-02-15 04:34:33')},
 {'actor_id': 22,
  'first_name': 'ELVIS',
  'last_name': 'MARX',
  'last_update': Timestamp('2006-02-15 04:34:33')},
 {'actor_id': 23,
  'first_name': 'SANDRA',
  'last_name': 'KILMER',
  'last_update': Timestamp('2006-02-15 04:34:33')},
 {'actor_id': 24,
  'first_name': 'CAMERON',
  'last_name': 'STREEP',
  'last_update': Timestamp('2006-02-15 04:34:33')},
 {'actor_id': 25,
  'first_name': 'KEVIN',
  'last_name': 'BLOOM',
  'last_update': Timestamp('2006-02-15 04:34:33')},
 {'actor_id': 26,
  'first_name': 'RIP',
  'last_name': 'CRAWFORD',
  'last_update': Timestamp('2006-02-15 04:34:33')},
 {'actor_id': 27,
  'first_name': 'JULIA',
  'last_name': 'MCQUEEN',
  'last_update': Timestamp('2006-02-15 04:34:33')},
 {'actor_id': 28,
  'first_name': 'WOODY',
  'last_name': 'HOFFMAN',
  'last_update': Timestamp('2006-02-15 04:34:33')},
 {'actor_id': 29,
  'first_name': 'ALEC',
  'last_name': 'WAYNE',
  'last_update': Timestamp('2006-02-15 04:34:33')},
 {'actor_id': 30,
  'first_name': 'SANDRA',
  'last_name': 'PECK',
  'last_update': Timestamp('2006-02-15 04:34:33')},
 {'actor_id': 31,
  'first_name': 'SISSY',
  'last_name': 'SOBIESKI',
  'last_update': Timestamp('2006-02-15 04:34:33')},
 {'actor_id': 32,
  'first_name': 'TIM',
  'last_name': 'HACKMAN',
  'last_update': Timestamp('2006-02-15 04:34:33')},
 {'actor_id': 33,
  'first_name': 'MILLA',
  'last_name': 'PECK',
  'last_update': Timestamp('2006-02-15 04:34:33')},
 {'actor_id': 34,
  'first_name': 'AUDREY',
  'last_name': 'OLIVIER',
  'last_update': Timestamp('2006-02-15 04:34:33')},
 {'actor_id': 35,
  'first_name': 'JUDY',
  'last_name': 'DEAN',
  'last_update': Timestamp('2006-02-15 04:34:33')},
 {'actor_id': 36,
  'first_name': 'BURT',
  'last_name': 'DUKAKIS',
  'last_update': Timestamp('2006-02-15 04:34:33')},
 {'actor_id': 37,
  'first_name': 'VAL',
  'last_name': 'BOLGER',
  'last_update': Timestamp('2006-02-15 04:34:33')},
 {'actor_id': 38,
  'first_name': 'TOM',
  'last_name': 'MCKELLEN',
  'last_update': Timestamp('2006-02-15 04:34:33')},
 {'actor_id': 39,
  'first_name': 'GOLDIE',
  'last_name': 'BRODY',
  'last_update': Timestamp('2006-02-15 04:34:33')},
 {'actor_id': 40,
  'first_name': 'JOHNNY',
  'last_name': 'CAGE',
  'last_update': Timestamp('2006-02-15 04:34:33')},
 {'actor_id': 41,
  'first_name': 'JODIE',
  'last_name': 'DEGENERES',
  'last_update': Timestamp('2006-02-15 04:34:33')},
 {'actor_id': 42,
  'first_name': 'TOM',
  'last_name': 'MIRANDA',
  'last_update': Timestamp('2006-02-15 04:34:33')},
 {'actor_id': 43,
  'first_name': 'KIRK',
  'last_name': 'JOVOVICH',
  'last_update': Timestamp('2006-02-15 04:34:33')},
 {'actor_id': 44,
  'first_name': 'NICK',
  'last_name': 'STALLONE',
  'last_update': Timestamp('2006-02-15 04:34:33')},
 {'actor_id': 45,
  'first_name': 'REESE',
  'last_name': 'KILMER',
  'last_update': Timestamp('2006-02-15 04:34:33')},
 {'actor_id': 46,
  'first_name': 'PARKER',
  'last_name': 'GOLDBERG',
  'last_update': Timestamp('2006-02-15 04:34:33')},
 {'actor_id': 47,
  'first_name': 'JULIA',
  'last_name': 'BARRYMORE',
  'last_update': Timestamp('2006-02-15 04:34:33')},
 {'actor_id': 48,
  'first_name': 'FRANCES',
  'last_name': 'DAY-LEWIS',
  'last_update': Timestamp('2006-02-15 04:34:33')},
 {'actor_id': 49,
  'first_name': 'ANNE',
  'last_name': 'CRONYN',
  'last_update': Timestamp('2006-02-15 04:34:33')},
 {'actor_id': 50,
  'first_name': 'NATALIE',
  'last_name': 'HOPKINS',
  'last_update': Timestamp('2006-02-15 04:34:33')},
 {'actor_id': 51,
  'first_name': 'GARY',
  'last_name': 'PHOENIX',
  'last_update': Timestamp('2006-02-15 04:34:33')},
 {'actor_id': 52,
  'first_name': 'CARMEN',
  'last_name': 'HUNT',
  'last_update': Timestamp('2006-02-15 04:34:33')},
 {'actor_id': 53,
  'first_name': 'MENA',
  'last_name': 'TEMPLE',
  'last_update': Timestamp('2006-02-15 04:34:33')},
 {'actor_id': 54,
  'first_name': 'PENELOPE',
  'last_name': 'PINKETT',
  'last_update': Timestamp('2006-02-15 04:34:33')},
 {'actor_id': 55,
  'first_name': 'FAY',
  'last_name': 'KILMER',
  'last_update': Timestamp('2006-02-15 04:34:33')},
 {'actor_id': 56,
  'first_name': 'DAN',
  'last_name': 'HARRIS',
  'last_update': Timestamp('2006-02-15 04:34:33')},
 {'actor_id': 57,
  'first_name': 'JUDE',
  'last_name': 'CRUISE',
  'last_update': Timestamp('2006-02-15 04:34:33')},
 {'actor_id': 58,
  'first_name': 'CHRISTIAN',
  'last_name': 'AKROYD',
  'last_update': Timestamp('2006-02-15 04:34:33')},
 {'actor_id': 59,
  'first_name': 'DUSTIN',
  'last_name': 'TAUTOU',
  'last_update': Timestamp('2006-02-15 04:34:33')},
 {'actor_id': 60,
  'first_name': 'HENRY',
  'last_name': 'BERRY',
  'last_update': Timestamp('2006-02-15 04:34:33')},
 {'actor_id': 61,
  'first_name': 'CHRISTIAN',
  'last_name': 'NEESON',
  'last_update': Timestamp('2006-02-15 04:34:33')},
 {'actor_id': 62,
  'first_name': 'JAYNE',
  'last_name': 'NEESON',
  'last_update': Timestamp('2006-02-15 04:34:33')},
 {'actor_id': 63,
  'first_name': 'CAMERON',
  'last_name': 'WRAY',
  'last_update': Timestamp('2006-02-15 04:34:33')},
 {'actor_id': 64,
  'first_name': 'RAY',
  'last_name': 'JOHANSSON',
  'last_update': Timestamp('2006-02-15 04:34:33')},
 {'actor_id': 65,
  'first_name': 'ANGELA',
  'last_name': 'HUDSON',
  'last_update': Timestamp('2006-02-15 04:34:33')},
 {'actor_id': 66,
  'first_name': 'MARY',
  'last_name': 'TANDY',
  'last_update': Timestamp('2006-02-15 04:34:33')},
 {'actor_id': 67,
  'first_name': 'JESSICA',
  'last_name': 'BAILEY',
  'last_update': Timestamp('2006-02-15 04:34:33')},
 {'actor_id': 68,
  'first_name': 'RIP',
  'last_name': 'WINSLET',
  'last_update': Timestamp('2006-02-15 04:34:33')},
 {'actor_id': 69,
  'first_name': 'KENNETH',
  'last_name': 'PALTROW',
  'last_update': Timestamp('2006-02-15 04:34:33')},
 {'actor_id': 70,
  'first_name': 'MICHELLE',
  'last_name': 'MCCONAUGHEY',
  'last_update': Timestamp('2006-02-15 04:34:33')},
 {'actor_id': 71,
  'first_name': 'ADAM',
  'last_name': 'GRANT',
  'last_update': Timestamp('2006-02-15 04:34:33')},
 {'actor_id': 72,
  'first_name': 'SEAN',
  'last_name': 'WILLIAMS',
  'last_update': Timestamp('2006-02-15 04:34:33')},
 {'actor_id': 73,
  'first_name': 'GARY',
  'last_name': 'PENN',
  'last_update': Timestamp('2006-02-15 04:34:33')},
 {'actor_id': 74,
  'first_name': 'MILLA',
  'last_name': 'KEITEL',
  'last_update': Timestamp('2006-02-15 04:34:33')},
 {'actor_id': 75,
  'first_name': 'BURT',
  'last_name': 'POSEY',
  'last_update': Timestamp('2006-02-15 04:34:33')},
 {'actor_id': 76,
  'first_name': 'ANGELINA',
  'last_name': 'ASTAIRE',
  'last_update': Timestamp('2006-02-15 04:34:33')},
 {'actor_id': 77,
  'first_name': 'CARY',
  'last_name': 'MCCONAUGHEY',
  'last_update': Timestamp('2006-02-15 04:34:33')},
 {'actor_id': 78,
  'first_name': 'GROUCHO',
  'last_name': 'SINATRA',
  'last_update': Timestamp('2006-02-15 04:34:33')},
 {'actor_id': 79,
  'first_name': 'MAE',
  'last_name': 'HOFFMAN',
  'last_update': Timestamp('2006-02-15 04:34:33')},
 {'actor_id': 80,
  'first_name': 'RALPH',
  'last_name': 'CRUZ',
  'last_update': Timestamp('2006-02-15 04:34:33')},
 {'actor_id': 81,
  'first_name': 'SCARLETT',
  'last_name': 'DAMON',
  'last_update': Timestamp('2006-02-15 04:34:33')},
 {'actor_id': 82,
  'first_name': 'WOODY',
  'last_name': 'JOLIE',
  'last_update': Timestamp('2006-02-15 04:34:33')},
 {'actor_id': 83,
  'first_name': 'BEN',
  'last_name': 'WILLIS',
  'last_update': Timestamp('2006-02-15 04:34:33')},
 {'actor_id': 84,
  'first_name': 'JAMES',
  'last_name': 'PITT',
  'last_update': Timestamp('2006-02-15 04:34:33')},
 {'actor_id': 85,
  'first_name': 'MINNIE',
  'last_name': 'ZELLWEGER',
  'last_update': Timestamp('2006-02-15 04:34:33')},
 {'actor_id': 86,
  'first_name': 'GREG',
  'last_name': 'CHAPLIN',
  'last_update': Timestamp('2006-02-15 04:34:33')},
 {'actor_id': 87,
  'first_name': 'SPENCER',
  'last_name': 'PECK',
  'last_update': Timestamp('2006-02-15 04:34:33')},
 {'actor_id': 88,
  'first_name': 'KENNETH',
  'last_name': 'PESCI',
  'last_update': Timestamp('2006-02-15 04:34:33')},
 {'actor_id': 89,
  'first_name': 'CHARLIZE',
  'last_name': 'DENCH',
  'last_update': Timestamp('2006-02-15 04:34:33')},
 {'actor_id': 90,
  'first_name': 'SEAN',
  'last_name': 'GUINESS',
  'last_update': Timestamp('2006-02-15 04:34:33')},
 {'actor_id': 91,
  'first_name': 'CHRISTOPHER',
  'last_name': 'BERRY',
  'last_update': Timestamp('2006-02-15 04:34:33')},
 {'actor_id': 92,
  'first_name': 'KIRSTEN',
  'last_name': 'AKROYD',
  'last_update': Timestamp('2006-02-15 04:34:33')},
 {'actor_id': 93,
  'first_name': 'ELLEN',
  'last_name': 'PRESLEY',
  'last_update': Timestamp('2006-02-15 04:34:33')},
 {'actor_id': 94,
  'first_name': 'KENNETH',
  'last_name': 'TORN',
  'last_update': Timestamp('2006-02-15 04:34:33')},
 {'actor_id': 95,
  'first_name': 'DARYL',
  'last_name': 'WAHLBERG',
  'last_update': Timestamp('2006-02-15 04:34:33')},
 {'actor_id': 96,
  'first_name': 'GENE',
  'last_name': 'WILLIS',
  'last_update': Timestamp('2006-02-15 04:34:33')},
 {'actor_id': 97,
  'first_name': 'MEG',
  'last_name': 'HAWKE',
  'last_update': Timestamp('2006-02-15 04:34:33')},
 {'actor_id': 98,
  'first_name': 'CHRIS',
  'last_name': 'BRIDGES',
  'last_update': Timestamp('2006-02-15 04:34:33')},
 {'actor_id': 99,
  'first_name': 'JIM',
  'last_name': 'MOSTEL',
  'last_update': Timestamp('2006-02-15 04:34:33')},
 {'actor_id': 100,
  'first_name': 'SPENCER',
  'last_name': 'DEPP',
  'last_update': Timestamp('2006-02-15 04:34:33')},
 {'actor_id': 101,
  'first_name': 'SUSAN',
  'last_name': 'DAVIS',
  'last_update': Timestamp('2006-02-15 04:34:33')},
 {'actor_id': 102,
  'first_name': 'WALTER',
  'last_name': 'TORN',
  'last_update': Timestamp('2006-02-15 04:34:33')},
 {'actor_id': 103,
  'first_name': 'MATTHEW',
  'last_name': 'LEIGH',
  'last_update': Timestamp('2006-02-15 04:34:33')},
 {'actor_id': 104,
  'first_name': 'PENELOPE',
  'last_name': 'CRONYN',
  'last_update': Timestamp('2006-02-15 04:34:33')},
 {'actor_id': 105,
  'first_name': 'SIDNEY',
  'last_name': 'CROWE',
  'last_update': Timestamp('2006-02-15 04:34:33')},
 {'actor_id': 106,
  'first_name': 'GROUCHO',
  'last_name': 'DUNST',
  'last_update': Timestamp('2006-02-15 04:34:33')},
 {'actor_id': 107,
  'first_name': 'GINA',
  'last_name': 'DEGENERES',
  'last_update': Timestamp('2006-02-15 04:34:33')},
 {'actor_id': 108,
  'first_name': 'WARREN',
  'last_name': 'NOLTE',
  'last_update': Timestamp('2006-02-15 04:34:33')},
 {'actor_id': 109,
  'first_name': 'SYLVESTER',
  'last_name': 'DERN',
  'last_update': Timestamp('2006-02-15 04:34:33')},
 {'actor_id': 110,
  'first_name': 'SUSAN',
  'last_name': 'DAVIS',
  'last_update': Timestamp('2006-02-15 04:34:33')},
 {'actor_id': 111,
  'first_name': 'CAMERON',
  'last_name': 'ZELLWEGER',
  'last_update': Timestamp('2006-02-15 04:34:33')},
 {'actor_id': 112,
  'first_name': 'RUSSELL',
  'last_name': 'BACALL',
  'last_update': Timestamp('2006-02-15 04:34:33')},
 {'actor_id': 113,
  'first_name': 'MORGAN',
  'last_name': 'HOPKINS',
  'last_update': Timestamp('2006-02-15 04:34:33')},
 {'actor_id': 114,
  'first_name': 'MORGAN',
  'last_name': 'MCDORMAND',
  'last_update': Timestamp('2006-02-15 04:34:33')},
 {'actor_id': 115,
  'first_name': 'HARRISON',
  'last_name': 'BALE',
  'last_update': Timestamp('2006-02-15 04:34:33')},
 {'actor_id': 116,
  'first_name': 'DAN',
  'last_name': 'STREEP',
  'last_update': Timestamp('2006-02-15 04:34:33')},
 {'actor_id': 117,
  'first_name': 'RENEE',
  'last_name': 'TRACY',
  'last_update': Timestamp('2006-02-15 04:34:33')},
 {'actor_id': 118,
  'first_name': 'CUBA',
  'last_name': 'ALLEN',
  'last_update': Timestamp('2006-02-15 04:34:33')},
 {'actor_id': 119,
  'first_name': 'WARREN',
  'last_name': 'JACKMAN',
  'last_update': Timestamp('2006-02-15 04:34:33')},
 {'actor_id': 120,
  'first_name': 'PENELOPE',
  'last_name': 'MONROE',
  'last_update': Timestamp('2006-02-15 04:34:33')},
 {'actor_id': 121,
  'first_name': 'LIZA',
  'last_name': 'BERGMAN',
  'last_update': Timestamp('2006-02-15 04:34:33')},
 {'actor_id': 122,
  'first_name': 'SALMA',
  'last_name': 'NOLTE',
  'last_update': Timestamp('2006-02-15 04:34:33')},
 {'actor_id': 123,
  'first_name': 'JULIANNE',
  'last_name': 'DENCH',
  'last_update': Timestamp('2006-02-15 04:34:33')},
 {'actor_id': 124,
  'first_name': 'SCARLETT',
  'last_name': 'BENING',
  'last_update': Timestamp('2006-02-15 04:34:33')},
 {'actor_id': 125,
  'first_name': 'ALBERT',
  'last_name': 'NOLTE',
  'last_update': Timestamp('2006-02-15 04:34:33')},
 {'actor_id': 126,
  'first_name': 'FRANCES',
  'last_name': 'TOMEI',
  'last_update': Timestamp('2006-02-15 04:34:33')},
 {'actor_id': 127,
  'first_name': 'KEVIN',
  'last_name': 'GARLAND',
  'last_update': Timestamp('2006-02-15 04:34:33')},
 {'actor_id': 128,
  'first_name': 'CATE',
  'last_name': 'MCQUEEN',
  'last_update': Timestamp('2006-02-15 04:34:33')},
 {'actor_id': 129,
  'first_name': 'DARYL',
  'last_name': 'CRAWFORD',
  'last_update': Timestamp('2006-02-15 04:34:33')},
 {'actor_id': 130,
  'first_name': 'GRETA',
  'last_name': 'KEITEL',
  'last_update': Timestamp('2006-02-15 04:34:33')},
 {'actor_id': 131,
  'first_name': 'JANE',
  'last_name': 'JACKMAN',
  'last_update': Timestamp('2006-02-15 04:34:33')},
 {'actor_id': 132,
  'first_name': 'ADAM',
  'last_name': 'HOPPER',
  'last_update': Timestamp('2006-02-15 04:34:33')},
 {'actor_id': 133,
  'first_name': 'RICHARD',
  'last_name': 'PENN',
  'last_update': Timestamp('2006-02-15 04:34:33')},
 {'actor_id': 134,
  'first_name': 'GENE',
  'last_name': 'HOPKINS',
  'last_update': Timestamp('2006-02-15 04:34:33')},
 {'actor_id': 135,
  'first_name': 'RITA',
  'last_name': 'REYNOLDS',
  'last_update': Timestamp('2006-02-15 04:34:33')},
 {'actor_id': 136,
  'first_name': 'ED',
  'last_name': 'MANSFIELD',
  'last_update': Timestamp('2006-02-15 04:34:33')},
 {'actor_id': 137,
  'first_name': 'MORGAN',
  'last_name': 'WILLIAMS',
  'last_update': Timestamp('2006-02-15 04:34:33')},
 {'actor_id': 138,
  'first_name': 'LUCILLE',
  'last_name': 'DEE',
  'last_update': Timestamp('2006-02-15 04:34:33')},
 {'actor_id': 139,
  'first_name': 'EWAN',
  'last_name': 'GOODING',
  'last_update': Timestamp('2006-02-15 04:34:33')},
 {'actor_id': 140,
  'first_name': 'WHOOPI',
  'last_name': 'HURT',
  'last_update': Timestamp('2006-02-15 04:34:33')},
 {'actor_id': 141,
  'first_name': 'CATE',
  'last_name': 'HARRIS',
  'last_update': Timestamp('2006-02-15 04:34:33')},
 {'actor_id': 142,
  'first_name': 'JADA',
  'last_name': 'RYDER',
  'last_update': Timestamp('2006-02-15 04:34:33')},
 {'actor_id': 143,
  'first_name': 'RIVER',
  'last_name': 'DEAN',
  'last_update': Timestamp('2006-02-15 04:34:33')},
 {'actor_id': 144,
  'first_name': 'ANGELA',
  'last_name': 'WITHERSPOON',
  'last_update': Timestamp('2006-02-15 04:34:33')},
 {'actor_id': 145,
  'first_name': 'KIM',
  'last_name': 'ALLEN',
  'last_update': Timestamp('2006-02-15 04:34:33')},
 {'actor_id': 146,
  'first_name': 'ALBERT',
  'last_name': 'JOHANSSON',
  'last_update': Timestamp('2006-02-15 04:34:33')},
 {'actor_id': 147,
  'first_name': 'FAY',
  'last_name': 'WINSLET',
  'last_update': Timestamp('2006-02-15 04:34:33')},
 {'actor_id': 148,
  'first_name': 'EMILY',
  'last_name': 'DEE',
  'last_update': Timestamp('2006-02-15 04:34:33')},
 {'actor_id': 149,
  'first_name': 'RUSSELL',
  'last_name': 'TEMPLE',
  'last_update': Timestamp('2006-02-15 04:34:33')},
 {'actor_id': 150,
  'first_name': 'JAYNE',
  'last_name': 'NOLTE',
  'last_update': Timestamp('2006-02-15 04:34:33')},
 {'actor_id': 151,
  'first_name': 'GEOFFREY',
  'last_name': 'HESTON',
  'last_update': Timestamp('2006-02-15 04:34:33')},
 {'actor_id': 152,
  'first_name': 'BEN',
  'last_name': 'HARRIS',
  'last_update': Timestamp('2006-02-15 04:34:33')},
 {'actor_id': 153,
  'first_name': 'MINNIE',
  'last_name': 'KILMER',
  'last_update': Timestamp('2006-02-15 04:34:33')},
 {'actor_id': 154,
  'first_name': 'MERYL',
  'last_name': 'GIBSON',
  'last_update': Timestamp('2006-02-15 04:34:33')},
 {'actor_id': 155,
  'first_name': 'IAN',
  'last_name': 'TANDY',
  'last_update': Timestamp('2006-02-15 04:34:33')},
 {'actor_id': 156,
  'first_name': 'FAY',
  'last_name': 'WOOD',
  'last_update': Timestamp('2006-02-15 04:34:33')},
 {'actor_id': 157,
  'first_name': 'GRETA',
  'last_name': 'MALDEN',
  'last_update': Timestamp('2006-02-15 04:34:33')},
 {'actor_id': 158,
  'first_name': 'VIVIEN',
  'last_name': 'BASINGER',
  'last_update': Timestamp('2006-02-15 04:34:33')},
 {'actor_id': 159,
  'first_name': 'LAURA',
  'last_name': 'BRODY',
  'last_update': Timestamp('2006-02-15 04:34:33')},
 {'actor_id': 160,
  'first_name': 'CHRIS',
  'last_name': 'DEPP',
  'last_update': Timestamp('2006-02-15 04:34:33')},
 {'actor_id': 161,
  'first_name': 'HARVEY',
  'last_name': 'HOPE',
  'last_update': Timestamp('2006-02-15 04:34:33')},
 {'actor_id': 162,
  'first_name': 'OPRAH',
  'last_name': 'KILMER',
  'last_update': Timestamp('2006-02-15 04:34:33')},
 {'actor_id': 163,
  'first_name': 'CHRISTOPHER',
  'last_name': 'WEST',
  'last_update': Timestamp('2006-02-15 04:34:33')},
 {'actor_id': 164,
  'first_name': 'HUMPHREY',
  'last_name': 'WILLIS',
  'last_update': Timestamp('2006-02-15 04:34:33')},
 {'actor_id': 165,
  'first_name': 'AL',
  'last_name': 'GARLAND',
  'last_update': Timestamp('2006-02-15 04:34:33')},
 {'actor_id': 166,
  'first_name': 'NICK',

In [41]:
results = actors.insert_many(info_actors)
results

BulkWriteError: batch op errors occurred, full error: {'writeErrors': [{'index': 0, 'code': 11000, 'keyPattern': {'_id': 1}, 'keyValue': {'_id': ObjectId('6279e7718d46c2008eab0525')}, 'errmsg': "E11000 duplicate key error collection: sakila.actors index: _id_ dup key: { _id: ObjectId('6279e7718d46c2008eab0525') }", 'op': {'actor_id': 1, 'first_name': 'PENELOPE', 'last_name': 'GUINESS', 'last_update': Timestamp('2006-02-15 04:34:33'), '_id': ObjectId('6279e7718d46c2008eab0525')}}], 'writeConcernErrors': [], 'nInserted': 0, 'nUpserted': 0, 'nMatched': 0, 'nModified': 0, 'nRemoved': 0, 'upserted': []}